<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="all.css">
    <title>store-food</title>
</head>

<body>
<div id="app" v-cloak>
        <div class="wrap">
            <div class="random_Area">
                <button  @click="get_RStore">隨機</button>
                <button @click="get_Re">重置</button>
            </div>
            <div class="dropDown_Area" >
                <label>價格</label>
                <select   @change="select_Price" v-model="selectedPrice">
                    <option v-for="item in sPrice" :value="item" v-bind:selected="item === '100以內'">{{item}}</option>
                </select>
                <label>距離</label>
                <select @change="select_Distance" v-model="selectedDistance">
                    <option v-for="item in sDistance" :value="item">{{item}}</option>
                </select>
                <label>外送</label>
                <select @change="select_Delivery" v-model="selectedDelivery">
                    <option v-for="item in sDelivery" :value="item">{{item}}</option>
                </select>
                <label>食物類型</label>
                <select @change="select_Type" v-model="selectedType">
                    <option v-for="item in sType" :value="item">{{item}}</option>
                </select>
                <label>時間</label>
                <select @change="select_Time" v-model="selectedTime">
                    <option v-for="item in sTime" :value="item">{{item}}</option>
                </select>
            </div>
            <div class="storeItem_Area background">
                <div class="storeItem " v-for="item in store_list" >
                <!-- v-show=priceFilter(item.price) -->
                    <div class="top_detail ">
                        <h2>{{item.Id}}</h2>
                    <div class="myImg" alt="test"></div>
                    </div>
                        <div class="down_detail "  >
                        <h4>價格：{{ item.price }}</h4>
                        <h4>外送：{{item.delivery}}</h4>
                        <h4>距離：{{item.distance}}</h4>
                        <h4>食物類型：{{item.type.toString()}}</h4>
                        <p>營業時間：{{item.hours.toString( )}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <footer id="footer"></footer>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js'></script>
    
    <script src="https://www.jqueryscript.net/demo/jQuery-Plugin-To-Create-Interactive-Polygon-Background-Geometryangle/geometryangle.js"></script>
    <script src="all.js"></script>        
    </script>
    <script type="module">
        import baseData from './data.js'
        var app = new Vue({
            el: "#app",
            data: {
                //all-data 
                store_list:baseData,
                //select-原data
                sPrice: [],
                sDelivery: [],
                sDistance: [],
                sType: [],
                sTime: [],
                //select-取得表單value
                selectedPrice: "",
                selectedDelivery: "", 
                selectedDistance: "",
                selectedType:[],
                selectedTime: [],
                //showflag
                isShow:true,     
            },
            mounted() {
                this.init()
            },
            methods: {
                init: function () {
                    //select-data 
                    this.sPrice= ["全部","100以內", "100~200", "200~300", "300以上"]; 
                    this.sDelivery=["全部","O", "X"];
                    this.sDistance=["全部","校內","騎車10分鐘", "騎車10分鐘以上"];
                    this.sType= ["全部","便當", "甜點咖啡", "火鍋烤肉", "麵", "飯", "異國料理", "素食", "其他", "飲料", "小吃"]; 
                    this.sTime=["全部","早","中", "晚","宵"]
                    //給予select-value
                    this.selectedPrice = "全部";
                    this.selectedDelivery = "全部";
                    this.selectedDistance = "全部";
                    this.selectedType = "全部";
                    this.selectedTime = "全部";
                },
                get_Re:function(){
                    this.store_list=baseData;

                },
                get_RStore: function () {
                    let objStore= {data:this.store_list};
                    let copy_objStore=Object.assign({},objStore);
                    let storeLengR= this.getRandomInt(this.store_list.length);
                    copy_objStore=objStore.data[storeLengR];
                    this.store_list=[copy_objStore];
                },
                select_Price: function () {     
                    let tmpStoreList=this.store_list;
                    let result=[];
                    for(let i=0 ; i<tmpStoreList.length;i++){
                    if(tmpStoreList[i].price==this.selectedPrice){
                            result.push(tmpStoreList[i]);
                    }else if(this.selectedPrice=="全部"){
                            result=tmpStoreList;
                        }
                    }
                    this.store_list=result;
                },
                select_Distance: function () {
                    let tmpStoreList=this.store_list;
                    let result=[];
                    for(let i=0 ; i<tmpStoreList.length;i++){
                    if(tmpStoreList[i].distance==this.selectedDistance){
                            result.push(tmpStoreList[i]);
                    }else if(this.selectedDistance=="全部"){
                            result=tmpStoreList;
                        }
                    }
                    this.store_list=result;
                },
                select_Delivery: function () {
                    let tmpStoreList=this.store_list; 
                    let result=[]; 
                    for(let i=0 ; i<tmpStoreList.length;i++){
                        if(tmpStoreList[i].delivery==this.selectedDelivery){
                        result.push(tmpStoreList[i]);
                        }else if(this.selectedDelivery=="全部" ){
                        result=tmpStoreList; }
                    }
                    this.store_list=result;
                },
                select_Type: function () {
                    let tmpStoreList=this.store_list; 
                    let result=[];
                    for(let i=0 ; i<tmpStoreList.length;i++){
                        let txtflag =tmpStoreList[i].type.indexOf(this.selectedType);
                        if(txtflag!=-1){
                            result.push(tmpStoreList[i]);
                        }else if(this.selectedType=="全部" ){
                            result=tmpStoreList; 
                        }
                    }
                    this.store_list=result;
                },
                select_Time: function () {
                    let tmpStoreList=this.store_list; 
                    let result=[];
                    for(let i=0 ; i<tmpStoreList.length;i++){
                        let txtflag =tmpStoreList[i].hours.indexOf(this.selectedTime);
                        if(txtflag!=-1){
                            result.push(tmpStoreList[i]);
                        }else if(this.selectedTime=="全部" ){
                            result=tmpStoreList; 
                        }
                    }
                    this.store_list=result;
                },
                getRandomInt:function(max){
                    return Math.floor(Math.random()*Math.floor(max));
                },filterData:function(){
                    
                }
            }
        })
    
                
    </script>
</body>

</html>




